@media (min-width: 1024px) {

    body {
        height: 90rem;
    }
nav {
    height: 6.75rem;
    padding: 5rem 5rem 0;
}
/*styling the header
combined-image and text-content
*/
header {
    height: 30.5rem;
    padding: 4rem 5rem 5rem;
}
.combined {
    height: 22.5rem;
    margin-bottom: 2rem;
}
.combined-image {
    height: 22.5rem; 
    margin-bottom: 2rem;
    gap: 28rem;
}
.text-content{
    width: 28.019rem;
    height: 19.62t5rem;
   position: relative;
   bottom: 21rem;
   
}
.text-1{
    margin: 0 5rem;
}
   
}