@media (min-width: 768px) and (max-width: 1023px) {
    body {
width: 48rem;
    }
    /*styling the header
combined-image and text-content
*/
    header {
        height: 47.563rem;
    }
   
    /*the pictures used for mobile and desktop 
    are not displayed. the picture used for tablet is displayed*/
    .desktop-mobile {display: none;}
    .tablet {display: inline;}
    .combined {
        height: 39.563rem;
        gap: 4.5rem;
    }
    .combined-image {
        height: 18.938rem;
        margin-bottom: 2rem;
    }
    .text-content{
        width: 28.019rem;
        height: 16.125rem;
      
    }
    .frame  {
        display: flex;
        justify-content: center;
        gap: 1.063rem;
    }
    .image-collage {
        display: flex;
        justify-content: center;
    }
    .image {
        width: 9.5rem;
        height: 10rem;
        border-radius: 0.5rem;
    }
    .text-1{
        margin: 0 5rem;
    }
    /*styling main
page decoration, image-collage and text-content*/
    main{
        max-width: 48rem;
        padding: 3.438rem 2rem 4rem;
    }
    .image {
        width: 9.5rem;
        height: 10rem;
    }
    .image-collage {
        gap: 1.5rem;
        display: flex;
        justify-content: center;
    }
    .hero {
        background-image: linear-gradient(
            /*top, transparent cyan-600*/
            rgba(77,150,168, 0.8), 
            rgba(77,150,168, 0.8)), 
            /*footer image*/
            url('images/tablet/image-footer.jpg');
            padding: 4rem 2rem;
        }
}